::selection {
  background: aquamarine;
  color: #111;
}

:root {
  background: #111;
  color: violet;
}

:any-link {
  color: violet;
}

@media (prefers-contrast: less) {
  :root {
    background: #222;
  }
}
